* { 
	border-radius: 0 !important; 
	font-family: 'Rajdhani', sans-serif;
	overflow: visible;
	scroll-behavior: smooth;
}

body {
	position: absolute;
	top:0%; bottom: 0%;
	left: 0%; right: 0%;
	color: #233142;
}

.card { 
	margin: 30px 5px;
	padding: 30px;
	background-color: whitesmoke;
}

.v-center {
	display: flex;
	flex-direction: column !important;
	align-items: center;
	justify-content: center;
}

.h-center {
	display: flex;
	justify-content: center;
}

.v-pad { padding-top: 30px; }

.hidden { display: none !important; }

.transition-container { 
	height: 100vh; width: 100%;
	overflow-x: hidden !important;
	position: relative;
	perspective: 1200px !important;
	-webkit-transform-style:preserve-3d;
	transform-style: preserve-3d !important;
}

.transition-ready {
	position: absolute;
	width: 100%;
	left: 0;
	backface-visibility: hidden !important;
	transform: translate3d(0, 0, 0);
	overflow: visible !important;
}

.inner { position: relative !important; }

.height-auto { height: auto !important; }

.height-screen { height: 100vh !important; }

.height-inherit { height: inherit; }

.separator { border-bottom: solid #f95959 24px; }

.bg-primary { background-color: #233142; }
.bg-secondary { background-color: #455d7a; }
.bg-thertiarily { background-color: #f95959; }
.bg-fourly { background-color: #facf5a; }

.bg-white { background-color: #fff; }

@media only screen and (max-width: 765px) { 
	aside { 
		height: 60px !important;
	} 
}